{% extends 'profiles/base.html'%}
{% block body_block %}
<br>
{%if object_list%}
<table class="table table-success table-striped">
    <tr>
        <th>To Account</th>
        <th>Amount</th>
        <th>Date and Time</th>
    </tr>

        {%for item in object_list%}
    <tr>
        <td>{{item.to_account}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.transfer_date_time}}</td>
         </tr>
{%endfor%}


</table>
{%else%}
<h3>No transfer activities have been performed yet</h3>
{%endif%}
{%endblock%}